body,
html {
    height: 100%;
}

#root,
#root > div {
    height: 100%;
}

.part-form-container {
    max-width: 360px;
}

.bg-rp-red {
    background-color: #FF3000;
}

.border-rp-red {
    border-color:  #FF3000;
}